@font-face{
    font-family: 'Luna Sans';
    font-weight: 200;
    font-style: normal;
    src: url('woff2/otf/LunaSans-Thin.ttf.woff2') format('woff2'),
	 url('woff/otf/LunaSans-Thin.otf.woff') format('woff'),
         url('otf/LunaSans-Thin.otf') format('opentype'),
         url('ttf/LunaSans-Thin.ttf') format('truetype');
}

@font-face{
    font-family: 'Luna Sans';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('woff2/otf/LunaSans-ThinIt.ttf.woff2') format('woff2'),
         url('woff/otf/LunaSans-ThinIt.otf.woff') format('woff'),
         url('otf/LunaSans-ThinIt.otf') format('opentype'),
         url('ttf/LunaSans-ThinIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Luna Sans';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('woff2/otf/LunaSans-Light.ttf.woff2') format('woff2'),
         url('woff/otf/LunaSans-Light.otf.woff') format('woff'),
         url('otf/LunaSans-Light.otf') format('opentype'),
         url('ttf/LunaSans-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'Luna Sans';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('woff2/otf/LunaSans-LightItalic.ttf.woff2') format('woff2'),
         url('woff/otf/LunaSans-LightItalic.otf.woff') format('woff'),
         url('otf/LunaSans-LightItalic.otf') format('opentype'),
         url('ttf/LunaSans-LightItalic.ttf') format('truetype');
}

@font-face{
    font-family: 'Luna Sans';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('woff2/otf/LunaSans-Regular.ttf.woff2') format('woff2'),
         url('woff/otf/LunaSans-Regular.otf.woff') format('woff'),
         url('otf/LunaSans-Regular.otf') format('opentype'),
         url('ttf/LunaSans-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Luna Sans';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('woff2/otf/LunaSans-Italic.ttf.woff2') format('woff2'),
         url('woff/otf/LunaSans-Italic.otf.woff') format('woff'),
         url('otf/LunaSans-Italic.otf') format('opentype'),
         url('ttf/LunaSans-Italic.ttf') format('truetype');
}

@font-face{
    font-family: 'Luna Sans';
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    src: url('woff2/otf/LunaSans-Regular.ttf.woff2') format('woff2'),
         url('woff/otf/LunaSans-Regular.otf.woff') format('woff'),
         url('otf/LunaSans-Regular.otf') format('opentype'),
         url('ttf/LunaSans-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Luna Sans';
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    src: url('woff2/otf/LunaSans-Italic.ttf.woff2') format('woff2'),
         url('woff/otf/LunaSans-Italic.otf.woff') format('woff'),
         url('otf/LunaSans-Italic.otf') format('opentype'),
         url('ttf/LunaSans-Italic.ttf') format('truetype');
}

@font-face{
    font-family: 'Luna Sans';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('woff2/otf/LunaSans-Semibold.ttf.woff2') format('woff2'),
         url('woff/otf/LunaSans-Semibold.otf.woff') format('woff'),
         url('otf/LunaSans-Semibold.otf') format('opentype'),
         url('ttf/LunaSans-Semibold.ttf') format('truetype');
}

@font-face{
    font-family: 'Luna Sans';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('woff2/otf/LunaSans-BoldItalic.ttf.woff2') format('woff2'),
         url('woff/otf/LunaSans-BoldItalic.otf.woff') format('woff'),
         url('otf/LunaSans-BoldItalic.otf') format('opentype'),
         url('ttf/LunaSans-BoldItalic.ttf') format('truetype');
}

@font-face{
    font-family: 'Luna Sans';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('woff2/otf/LunaSans-ExtraBold.ttf.woff2') format('woff2'),
         url('woff/otf/LunaSans-ExtraBold.otf.woff') format('woff'),
         url('otf/LunaSans-ExtraBold.otf') format('opentype'),
         url('ttf/LunaSans-ExtraBold.ttf') format('truetype');
}

@font-face{
    font-family: 'Luna Sans';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('woff2/otf/LunaSans-ExtraBoldItalic.ttf.woff2') format('woff2'),
         url('woff/otf/LunaSans-ExtraBoldItalic.otf.woff') format('woff'),
         url('otf/LunaSans-ExtraBoldItalic.otf') format('opentype'),
         url('ttf/LunaSans-ExtraBoldItalic.ttf') format('truetype');
}

@font-face{
    font-family: 'Luna Sans';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('woff2/otf/LunaSans-Black.ttf.woff2') format('woff2'),
         url('woff/otf/LunaSans-Black.otf.woff') format('woff'),
         url('otf/LunaSans-Black.otf') format('opentype'),
         url('ttf/LunaSans-Black.ttf') format('truetype');
}

@font-face{
    font-family: 'Luna Sans';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('woff2/otf/LunaSans-BlackItalic.ttf.woff2') format('woff2'),
         url('woff/otf/LunaSans-BlackItalic.otf.woff') format('woff'),
         url('otf/LunaSans-BlackItalic.otf') format('opentype'),
         url('ttf/LunaSans-BlackItalic.ttf') format('truetype');
}
